Package: me.nepeta.owo
Name: OwO
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 0.4.0
Architecture: iphoneos-arm
Description: OwO what's this!? (Themes & more shit)
Maintainer: Nepeta
Author: Nepeta
Section: Tweaks
