Package: me.zawarudo.owo
Name: OwO
Conflicts: me.nepeta.owo
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>=11.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Does something fun to your notifications.
Maintainer: Nepeta
Author: Nepeta
Section: Tweaks
